 @import url(tiny.css) (min-width:300px);
 @import url(small.css) (min-width:600px);
 @import url(big.css) (min-width:900px);

body * {
    font-family: 'Inter', sans-serif;
}

body {
    
    background-color: rgba(0, 10, 83, 0.932);
}

@media screen and (max-width: 600px) {
    header {
        width: 100px;
        height: 50px;
        background-color: transparent;
        margin: -10px 0 0 -10px;
        opacity: 0.8;
        display: flex;
        text-align: center;
    }
    
    nav {
        display: flex;
        width: 10px;
        justify-content: flex-end;
        translate: 370px 0px 0px;
        text-align: center;
        margin-top: 40px;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
        margin-top: 10px;
        padding-left: 20px;
    }
    
    nav a {
        text-decoration: none;
        color: white;
    }
    
    
    nav li {
        margin-top: 10px;
        background-color: transparent;
        width: 90px;
        height: 25px;
        border-radius: 25px;
        text-align: center;
        padding-top: 3px;
        color: white;
    }
    
    nav li:hover {
        background-color: rgb(255, 255, 255);
        border: solid rgb(255, 255, 255);
        cursor: pointer;
        transition: 0.55s;
    }
    
    nav a:hover {
        color: rgb(0, 0, 0);
    }
    
    @keyframes Aparece {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #apresent {
        animation: 3s ease-out 1s 1 Aparece;
    }
    
    #objetivos {
        animation: 3s ease-out 1s 1 Aparece;
    }
    
    header img {
        width: 20px;
        height: 20px;
    }
    
    header p {
        color: rgb(255, 255, 255);
        margin-left: 40px;
        margin-bottom: 10px;
        position: absolute;
        translate: 90px;
    }
  
    #inicio {
        margin-left: -10px;
          
    }
    
    #apresent {
        z-index: 1;
        position: relative;
        color: white;
        /*border: 1px red solid;*/
        text-align: center;
        width: 400px;
        height: 300px;
        margin: 100px auto;
       
    }
    
    
    #apresent h1{
        font-size: 40px;
        position: relative;
    }
    
    #apresent p {
        color: white;
    }
    
    #apresent spam {
        color: rgb(67, 67, 243);
    }
    
    #apresent img {
        position: absolute;
        width: 400px;
        opacity: 0.4;
        z-index: 0;
    }
    
    
    #bolha {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        background-color: white;
        translate: -260px -200px;
    }
    
    #bolha1 {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: white;
        translate: 290px 30px;
    }
    
    #bolha2 {
        border-radius: 50%;
        width: 400px;
        height: 400px;
        background-color: white;
        translate: -380px 550px;
    }
    
    #bolha3 {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: white;
        translate: 370px -210px;
    }
    
    #bolha_peq {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: white;
        translate: 10px 10px;
    }
    #bolha_peq2 {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: white;
        translate: -5px 10px;
    }
    .card {
        width: 21em;
        height: 28.5em;
        margin: 200px auto;
        background: #fffefe;
        transition: 1s ease-in-out;
        clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
      }
      
      .card span {
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-align: center;
        display: block;
        font-size: 28px;
      }
      
      .card .info {
        font-weight: 600;
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        font-size: 14px;
        margin: 1em;
      }
      
      .card .img {
        width: 4.8em;
        height: 4.8em;
        background: rgb(0, 0, 0);
        border-radius: 15px;
        margin: auto;
      }
    
      .card .img img {
        width: 4.8em;
        height: 4.8em;
      }
      
      .card .share {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        gap: 1em;
      }
      
      .card a {
        color: rgb(0, 0, 0);
        transition: .4s ease-in-out;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        padding-top: 3px;
      }
      
      .card a:hover {
        background-color: rgb(182, 182, 182);
        transform: scale(1.2);
      }
      
      .card p {
          margin-top: 0px;
          font-weight: 700;
          text-align: center;
      }
    
      .card button {
        padding: 0.8em 1.7em;
        display: block;
        margin: auto;
        border-radius: 25px;
        border: none;
        font-weight: bold;
        background: transparent;
        color: transparent;
        transition: .4s ease-in-out;
      }
      
    
    
      #objetivos {
         width: 350px;
         height: 250px;
         margin: -150px auto;
         background-color: #fffefe;
         margin-bottom: 200px;
         text-align: center;
         border-radius: 80px;
         padding-top: 10px;
         padding-bottom: 10px;
      }

      .linguagens {
        margin: 10px auto;
        text-align: center;
        color: white;
        width: 400px;
        height: 40px;
        
    }

    .linguagens h1 {
        translate: 0 -30px;
    }

    #ling1 {
        background-color: white;
        width: 150px;
        height: 150px;
        color: black;
        padding-top: 5px;
        font-weight: bold;
    }

    #ling1 img{
        width: 130px;
        height: 80px;
    }

    #tri {
        width: 40px;
        height: 40px;
        background-color: white;
        rotate: -45deg;
        translate: 130px -95px;
    }

    #ling2 {
      background-color: white;
      width: 150px;
      height: 150px;
      color: black;
      padding-top: 5px;
      font-weight: bold;
      translate: 260px 0px;
  }

  #ling2 img{
      width: 80px;
      height: 60px;
  }
  #tri2 {
      width: 40px;
      height: 40px;
      background-color: white;
      rotate: -45deg;
      translate: 240px -95px;
      position: relative;
  }

    #ling5 {
      background-color: white;
      width: 150px;
      height: 150px;
      color: black;
      padding-top: 5px;
      font-weight: bold;
      translate: 250px -570px;
  }

    #ling5 img{
      width: 130px;
      height: 80px;
  }
 
  #tri5 {
      width: 40px;
      height: 40px;
      background-color: white;
      rotate: -45deg;
      translate: 230px -660px;
  }

    #ling4 {
      background-color: white;
      width: 150px;
      height: 150px;
      color: black;
      padding-top: 5px;
      font-weight: bold;
      translate: 10px -630px;
  }

  #tri1 {
      width: 40px;
      height: 40px;
      background-color: white;
      rotate: -45deg;
      translate: 140px -530px;
  }

    #ling4 img{
      width: 80px;
      height: 80px;
  }

      #separa {
        width: 2px;
        height: 1000px;
        background-color: white ;
        translate: 220px;
      }
      #separa p {
          display: none;
      }
    
      .carrossel {
        height: 650px;
        width: 260px;
        position: absolute;
        right: 0px;
        margin-top: 200px;
        overflow: hidden;
        translate: -120px -250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

      .carrossel #titulo {
          color: white;
      }
      
      .card_projeto {
          width: 220px;
          height: 370px;
          background: #fffefe;
          border-radius: 20px;
          text-align: center;
      }

      .cards {
        display: flex;
        position: relative;
        height: 400px;
        width: 900px;
        right: 0px;
        animation: carrossel 10s ease alternate infinite;
        margin-top: 50px;
        gap: 40px;
        padding: 0 5px;
    }

    .cards:hover {
        animation-play-state: paused;
    }
    
    .card_projeto:hover {
        transform: scale(1.1);
        transition: .8s;
    }
    
    .card_projeto:hover .info-card {
        opacity: 1;
        transition: .8s;
    }

    @keyframes carrossel {
        0% {
            right: -350px;
        }
    
        50% {
            right: -85px;
        }
    
        100% {
            right: 185px;
        }
    }
    
      .card_projeto button {
          border-radius: 20px;
          width: 120px;
          height: 40px;
          background-color: transparent;
          border: transparent;
          translate: 0 -5px;
      }
    
      .card_projeto button:hover {
          background-color: rgba(46, 206, 46, 0.932);
          border: #fffefe;
          color: #fffefe;
          transform: scale(1.1);
          cursor: pointer;
          transition: 0.30s;
      }
    
      .card_projeto img {
          width: 150px;
          height: 90px;
      }
    
      .card_projeto h1 {
          font-size: 22px;
      }
    
      #js {
          width: 220px;
          height: 80px;
      }
    
      .icon {
          width: 15px;
          height: 15px;
      }

      #sobre {
        text-align: center;
        margin-top: 550px;
      }

      #sobre button {
        border-radius: 50px;
        translate: 0 -170px;
        width: 150px;
        height: 45px;
        background-color: white;
        border: transparent;
        font-weight: 600;
      }

      #sobre button:hover {
        transform: scale(1.1);
        transition: 1s ease;
        cursor: pointer;
      }
      
      #sobre a {
        text-decoration: none;
        color: black;
      }
      #sobre button img {
        width: 13px;
        height: 13px;
        margin-left: 15px;
        margin-top: 0px;
      }
   }





















   @media screen and (min-width: 600px) {
    header {
        width: 100.2vw;
        height: 50px;
        backdrop-filter: blur(15px);
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
        -webkit-backdrop-filter: blur(15px);
        margin: -100px 0 0 -10px;
        opacity: 0.8;
        display: flex;
        position: fixed;
        z-index: 5;
    }
    
    nav {
        display: flex;
        width: 50vw;
        justify-content: flex-end;
        translate: 500px 0px 0px;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
        margin-top: 0px;
        padding-left: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        position: relative;
        color: white;
    }
    
    
    nav li {
        margin-top: 10px;
        background-color: transparent;
        width: 90px;
        height: 25px;
        text-align: center;
        padding-top: 3px;
        color: white;
       
    }
    
    nav a::after {
        content: " ";
        width: 0%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 100px;
        transition: 0.5s ease-in-out;
        box-shadow: 1px 1px 5px rgb(255, 255, 255);
    }

    nav a:hover::after {
        width: 100%;
    }
    
    
    @keyframes Aparece {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #apresent {
        animation: 3s ease-out 1s 1 Aparece;
    }
    
    #objetivos {
        animation: 3s ease-out 1s 1 Aparece;
    }
    
    header img {
        width: 20px;
        height: 20px;
    }
    
    header p {
        color: rgb(160, 160, 160);
        margin-left: 40px;
        margin-bottom: 10px;
    }
    
    
    #inicio {
        margin-left: -10px;
          
    }
    
    #apresent {
        z-index: 1;
        position: relative;
        color: white;
        /*border: 1px red solid;*/
        text-align: center;
        width: 500px;
        height: 300px;
        margin: 100px auto;
       
    }
    
    
    #apresent h1{
        font-size: 40px;
        position: relative;
    }
    
    #apresent p {
        color: white;
    }
    
    #apresent spam {
        color: rgb(67, 67, 243);
    }
    
    #apresent img {
        position: absolute;
        width: 400px;
        opacity: 0.4;
        z-index: 0;
    }
    
    
    #bolha {
        border-radius: 50%;
        width: 400px;
        height: 400px;
        background-color: white;
        translate: -580px -100px;
    }
    
    #bolha1 {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-color: white;
        translate: 470px -130px;
    }
    
    #bolha2 {
        border-radius: 50%;
        width: 400px;
        height: 400px;
        background-color: white;
        translate: -980px 100px;
    }
    
    #bolha3 {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: white;
        translate: 950px -200px;
    }
    
    #bolha_peq {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: white;
        translate: 10px 10px;
    }
    #bolha_peq2 {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: white;
        translate: -5px 10px;
    }
    .card {
        width: 21em;
        height: 28.5em;
        margin: 200px auto;
        background: #fffefe;
        transition: 1s ease-in-out;
        clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      
      .card span {
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-align: center;
        display: block;
        font-size: 1em;
      }
      
      .card .info {
        font-weight: 600;
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        font-size: 14px;
        margin: 1em;
      }
      
      .card .img {
        width: 4.8em;
        height: 4.8em;
        background: rgb(0, 0, 0);
        border-radius: 15px;
        margin: auto;
      }
    
      .card .img img {
        width: 4.8em;
        height: 4.8em;
      }
      
      .card .share {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        gap: 1em;
      }
      
      .card a {
        color: rgb(0, 0, 0);
        transition: .4s ease-in-out;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        padding-top: 3px;
      }
      
      .card a:hover {
        background-color: rgb(182, 182, 182);
        transform: scale(1.2);
      }
      
      .card p {
          margin-top: 0px;
          font-weight: 700;
          text-align: center;
      }
    
      .card button {
        padding: 0.8em 1.7em;
        display: block;
        margin: auto;
        border-radius: 25px;
        border: none;
        font-weight: bold;
        background: transparent;
        color: transparent;
        transition: .4s ease-in-out;
      }
      
    
    
      #objetivos {
         width: 350px;
         height: 250px;
         margin: -150px auto;
         background-color: #fffefe;
         margin-bottom: 200px;
         text-align: center;
         border-radius: 80px;
         padding-top: 10px;
         padding-bottom: 10px;
      }

      .linguagens {
          margin: 10px auto;
          text-align: center;
          color: white;
          width: 1000px;
          height: 250px;
          
      }

      .linguagens h1 {
          translate: 0 -30px;
      }

      #ling1 {
          background-color: white;
          width: 150px;
          height: 150px;
          color: black;
          padding-top: 5px;
          font-weight: bold;
      }

      #ling1 img{
          width: 130px;
          height: 80px;
      }

      #ling2 {
        background-color: white;
        width: 150px;
        height: 150px;
        color: black;
        padding-top: 5px;
        font-weight: bold;
        translate: 400px -195px;
    }

    #ling2 img{
        width: 80px;
        height: 60px;
    }
    #tri2 {
        width: 40px;
        height: 40px;
        background-color: white;
        rotate: -45deg;
        translate: 455px -215px;
        position: relative;
    }

      #tri {
          width: 40px;
          height: 40px;
          background-color: white;
          rotate: -45deg;
          translate: 55px -20px;
      }

      #ling5 {
        background-color: white;
        width: 150px;
        height: 150px;
        color: black;
        padding-top: 5px;
        font-weight: bold;
        translate: 630px -155px;
    }

      #ling5 img{
        width: 130px;
        height: 80px;
    }
   
    #tri5 {
        width: 40px;
        height: 40px;
        background-color: white;
        rotate: -45deg;
        translate: 685px -330px;
    }

      #ling4 {
        background-color: white;
        width: 150px;
        height: 150px;
        color: black;
        padding-top: 5px;
        font-weight: bold;
        translate: 220px 0px;
    }

    #tri1 {
        width: 40px;
        height: 40px;
        background-color: white;
        rotate: -45deg;
        translate: 275px 20px;
    }

      #ling4 img{
        width: 80px;
        height: 80px;
    }

      #separa {
          background-color: white;
          width: 1000px;
          height: 3px;
          margin: 0 auto;
      }

      #separa p {
          display: none;
      }
    
      .carrossel {
          display: flex;   
          gap: 20px;
          margin: 300px auto;
          margin-bottom: 30px;
          justify-content: center;
         
      }

      .carrossel #titulo {
          position: absolute;
          translate: 0 -100px;
          color: white;
      }

      .cards {
        display: flex;
        gap: 30px;
      }
    
      .card_projeto {
          width: 220px;
          height: 370px;
          background: #fffefe;
          border-radius: 20px;
          text-align: center;
      }
    
      .card_projeto button {
          border-radius: 20px;
          width: 120px;
          height: 40px;
          background-color: transparent;
          border: transparent;
      }
    
      .card_projeto button:hover {
          background-color: rgba(46, 206, 46, 0.932);
          border: #fffefe;
          color: #fffefe;
          transform: scale(1.1);
          cursor: pointer;
          transition: 0.30s;
      }
    
      .card_projeto img {
          width: 150px;
          height: 90px;
      }
    
      .card_projeto h1 {
          font-size: 22px;
      }
    
      #js {
          width: 220px;
          height: 80px;
      }
    
      .icon {
          width: 15px;
          height: 15px;
      }

      #sobre {
        text-align: center;
      }

      #sobre button {
        border-radius: 50px;
        translate: 0 -170px;
        width: 150px;
        height: 45px;
        background-color: white;
        border: transparent;
        font-weight: 600;
      }

      #sobre button:hover {
        transform: scale(1.1);
        transition: 1s ease;
        cursor: pointer;
      }
      #sobre button img {
        width: 13px;
        height: 13px;
        margin-left: 15px;
        margin-top: 0px;
      }
      #sobre a {
        text-decoration: none;
        color: black;
      }
   }



/*MOBILE*/
